{% load i18n %}
<div class="mb-3">
    <label class="form-label"
        for="selectProvisionalId">
        {% translate 'temporary password generated'|title %}
    </label>
    <select class="form-select mb-2"
        id="selectProvisionalId"
        name="selectProvisionalName"
        {% if type_page == 'view' %} disabled {% endif %}>
        <option value="False" selected>{% translate 'no'|title %}</option>
        <option value="True" {% if provisional == True %} selected {% endif %}>{% translate 'yes'|title %}</option>
    </select>
</div>
