{% load i18n %}
<div class="form-floating mb-3">
    <input class="form-control mb-2
        {% if form_password.password.errors %}
            is-invalid
        {% endif %}"
        type="password"
        placeholder="x"
        id="{{ form_password.password.id_for_label }}"
        name="{{ form_password.password.html_name }}"
        aria-label="{{ form_password.password.help_text }}">
    <label class="{% if form_password.password.errors %} text-danger {% endif %}"
        for="{{ form_password.password.id_for_label }}">
        {{ form_password.password.field.label }}
    </label>
    {% if form_password.password.errors %}
        <ol class="
                list-group
                list-group-numbered
                list-group-item-danger">
            {% for error in form_password.password.errors %}
                <li class="list-group-item">
                    {{ error|escape }}
                </li>
            {% endfor %}
        </ol>
        </ul>
    {% else %}
        <div class="form-text">
            {{ form_password.password.help_text }}
        </div>
    {% endif %}
</div>
