{% load i18n %}
<!-- Form -->
<form action="{% url 'app:application:jobpositions:code:remove:post' codejobposition=codejobposition %}"
    method="post"
    id="formRemoveId">

    {% csrf_token %}
    {% for hidden in remove_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <div class="grid gap-y-4">
        {% include 'app/application/jobpositions/code/remove/form/no.html' %}
        {% include 'app/application/jobpositions/code/remove/form/remove.html' %}
    </div>
</form>
<!-- End Form -->