{% load i18n %}
<button class="
        btn
        btn-primary"
    type="button"
    id="buttonNoId"
    name="buttonNoName"
    value="buttonNoId">

    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>

    {% translate "no"|title %}
</button>
<script nonce="{{request.csp_nonce}}">
    document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("buttonNoId")
        .addEventListener("click", function doThings() {
                const thisId = this.id;
                const button = document.getElementById(thisId);
                const buttonSpan = button.getElementsByTagName("span")[0];

                buttonSpan.classList.remove("d-none");

                const buttons = document.getElementsByTagName("button");

                for (const button of buttons) {
                    button.disabled = true;
                    button.classList.add("cursor-not-allowed");
                }

                window.location.href = "{% url 'app:application:jobpositions:code:edit' codejobposition=codejobposition %}";
            }
        );
    });
</script>
