{% load i18n %}

<div class="
        card
        shadow
        mb-3
        col-12">
    <div class="card-header">
        {% translate 'permissions'|title %}
    </div>
    <div class="
        card-body">
        <table class="
                table
                table-borderless
                table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        {% translate 'permission'|title %}
                    </th>
                    <th scope="col">
                        nivel 1
                    </th>
                    <th scope="col">
                        nivel 2
                    </th>
                    <th scope="col">
                        nivel 3
                    </th>
                    <th scope="col">
                        nivel 4
                    </th>
                    <th scope="col">
                        nivel 5
                    </th>
                    <th scope="col">
                        nivel 6
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for row in permissions %}
                    <tr>
                        <th scope="row">
                            <select class="form-select"
                                id="{{ row.nivel1 }}_{{ row.nivel2 }}{% if row.nivel3 != None %}_{{ row.nivel3 }}{% if row.nivel4 != None %}_{{ row.nivel4 }}{% if row.nivel5 != None %}_{{ row.nivel5 }}{% if row.nivel6 != None %}_{{ row.nivel6 }}{% endif %}{% endif %}{% endif %}{% endif %}"
                                name="{{ row.nivel1 }}_{{ row.nivel2 }}{% if row.nivel3 != None %}_{{ row.nivel3 }}{% if row.nivel4 != None %}_{{ row.nivel4 }}{% if row.nivel5 != None %}_{{ row.nivel5 }}{% if row.nivel6 != None %}_{{ row.nivel6 }}{% endif %}{% endif %}{% endif %}{% endif %}"
                                {% if type_page == 'view' %} disabled {% endif %}>
                                <option value="nopermission">{% translate 'no permission' %}</option>

                                {% for type in row.types %}
                                    <option id="{{ row.nivel1 }}_{{ row.nivel2 }}{% if row.nivel3 != None %}_{{ row.nivel3 }}{% if row.nivel4 != None %}_{{ row.nivel4 }}{% if row.nivel5 != None %}_{{ row.nivel5 }}{% if row.nivel6 != None %}_{{ row.nivel6 }}{% endif %}{% endif %}{% endif %}{% endif %}:{{ type }}"
                                        value="{{ type }}">
                                        {% translate type %}
                                    </option>
                                {% endfor %}
                            </select>
                        </th>
                        <td>{% translate row.nivel1 %}</td>
                        <td>{% if row.nivel2 != None %}{% translate row.nivel2 %}{% endif %}</td>
                        <td>{% if row.nivel3 != None %}{% translate row.nivel3 %}{% endif %}</td>
                        <td>{% if row.nivel4 != None %}{% translate row.nivel4 %}{% endif %}</td>
                        <td>{% if row.nivel5 != None %}{% translate row.nivel5 %}{% endif %}</td>
                        <td>{% if row.nivel6 != None %}{% translate row.nivel6 %}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script nonce = "{{ request.csp_nonce }}">
    {% for row in result_permissions %}
        element = document.getElementById("{{ row }}");
        if(element != null) {
            element.setAttribute("selected", true);
        }
    {% endfor %}
</script>