{% load i18n %}
{% if type_page == 'edit' %}
    <li>
        <a class="dropdown-item"
            href="#"
            id="optionsApplicationDepartmentsViewId">
            {% if codedepartment == "new" %}
                {% include 'app/base/menu/icon_lock.html' %}
            {% else %}
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                <script nonce="{{request.csp_nonce}}">

                    document.addEventListener("DOMContentLoaded", function () {
                    document.getElementById("optionsApplicationDepartmentsViewId")
                        .addEventListener("click", function doThings() {
                                const thisId = this.id;
                                const link = document.getElementById(thisId);
                                const linkSpan = link.getElementsByTagName("span")[0];

                                linkSpan.classList.remove("d-none");
                                document.getElementById("optionsLoadingId").classList.remove("d-none");
                                window.location.replace("{% url 'app:application:departments:code:view' codedepartment=codedepartment %}");
                            }
                        );
                    });
                </script>
            {% endif %}
            {% translate "view"|title %}
        </a>
    </li>
{% endif %}
