{% load i18n %}
<div class="
        card
        shadow
        mb-3
        col-md-6">
    <div class="card-header">
        {% translate 'about'|title %}
    </div>
    <div class="card-body">
        {% if type_page == 'edit' %}
            <!-- Form -->
            <form action="{% url 'app:application:departments:code:save' codedepartment=codedepartment %}"
                method="post"
                id="formDepartmentSaveId">
                {% csrf_token %}
                {% for hidden in form_department.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
        {% endif %}

                {% include 'app/application/departments/code/detail/fields/department.html' %}

        {% if type_page == 'edit' %}
                <button class="
                        btn
                        btn-primary"
                    type="button"
                    id="buttonDepartmentSaveId"
                    name="buttonDepartmentSaveName"
                    value="buttonDepartmentSaveId">

                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>

                    {% translate "save"|title %}
                </button>
                <script nonce="{{request.csp_nonce}}">
                    document.addEventListener("DOMContentLoaded", function () {
                    document.getElementById("buttonDepartmentSaveId")
                        .addEventListener("click", function doThings() {
                                const thisId = this.id;
                                const button = document.getElementById(thisId);
                                const buttonSpan = button.getElementsByTagName("span")[0];

                                buttonSpan.classList.remove("d-none");

                                const buttons = document.getElementsByTagName("button");

                                for (const button of buttons) {
                                    button.disabled = true;
                                    button.classList.add("cursor-not-allowed");
                                }

                                const form = document.getElementById(thisId.replace("button", "form"));
                                form.submit();
                            }
                        );
                    });
                </script>
            </form>
            <!-- End Form -->
        {% endif %}
    </div>
</div>
