{% load i18n %}

{% if search_departments_post == True %}

    <div class="
        card
        shadow
        mb-3">
        <div class="card-header">
            {% translate 'result'|title %}
        </div>
        <div class="
            card-body">
            <table class="
                    table
                    table-borderless
                    table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            #
                        </th>
                        <th scope="col">
                            {% translate 'department'|title %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in overview_departments %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'app:application:departments:code:view' codedepartment=row.id %}">
                                    {% translate 'view'|title %}
                                </a>
                            </th>
                            <td>
                                {{ row.department }}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan=100>
                                {% translate 'no results'|title %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endif %}