{% load i18n %}
<nav class="
        navbar
        navbar-expand-lg
        navbar-dark
        bg-dark
        mb-3">
    <div class="container-fluid">
        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active"
                        aria-current="page"
                        href="{% url 'app:home:page' %}">
                        Home
                    </a>
                </li>
                {% include 'app/base/menu/menu1.html' %}
                {% include 'app/base/menu/menu2.html' %}
                {% include 'app/base/menu/menu3.html' %}
                {% include 'app/base/menu/application.html' %}
            </ul>
        </div>

        {% if options %}
            <li class="
                    nav-item
                    dropdown">
                <button class="
                        btn
                        btn-dark
                        dropdown-toggle
                        icon-link"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <span class="spinner-border spinner-border-sm d-none"
                        id="optionsLoadingId"
                        role="status" aria-hidden="true"></span>
                    {% translate 'options'|title %}
                </button>
                <ul class="
                        dropdown-menu
                        dropdown-menu-dark">
                    {% include options %}
                </ul>
            </li>
        {% endif %}
    </div>
</nav>

{% include 'app/base/partials/alert.html' %}