{% load i18n %}
<!-- Form -->
<form action="{% url 'app:signup:post' %}"
    method="post"
    id="formSignUpId">

    {% csrf_token %}
    {% for hidden in signup_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <div class="grid gap-y-4">
        {% include 'app/signup/form/cpf.html' %}
        {% include 'app/signup/form/token.html' %}

        <button class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-slate-800 text-white hover:bg-slate-950 focus:outline-none focus:ring-2 focus:ring-slate-950 focus:ring-offset-2 transition-all text-lg md:text-base"
            type="button"
            id="buttonSignUpId"
            name="buttonSignUpName"
            value="buttonSignUpId">
            {% translate "validate"|title %}
        </button>
        <script nonce="{{request.csp_nonce}}">
            document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("buttonSignUpId")
                .addEventListener("click", function doThings() {
                    const thisId = this.id;
                    const button = document.getElementById(thisId);
                    const loading = document.getElementById("status_loading");
                    const form = document.getElementById(thisId.replace("button", "form"));

                    button.disabled = true;
                    button.classList.add("cursor-not-allowed");
                    loading.classList.remove("hidden");
                    form.submit();
                    }
                );
            });
        </script>
    </div>
</form>
<!-- End Form -->